<div class = "container">
    <div class ="row">
        <div class = "col-sm">
            <cr-carousel>Loading...</cr-carousel>
            <h3>Latest News</h3>
        <div *ngFor="let LatestNews of LatestNews">
          <cr-horizontalcard1 image={{LatestNews.image}} title={{LatestNews.title}} author={{LatestNews.author}} description={{LatestNews.description}}>Loading...</cr-horizontalcard1>
        </div>
        <h3>Site News</h3>
        <div *ngFor="let LatestNews of LatestNews">
          <cr-horizontalcard1 image={{LatestNews.image}} title={{LatestNews.title}} author={{LatestNews.author}} description={{LatestNews.description}}>Loading...</cr-horizontalcard1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 22rem;">
          <div class="card-header">
            Featured Shows
          </div>
        <div *ngFor="let FeaturedShows of FeaturedShows">
    <cr-featuredshows image={{FeaturedShows.image}} title={{FeaturedShows.title}} [videos] ='FeaturedShows.videos'>Loading...</cr-featuredshows>
    </div>
  </div>
</div>
 </div>
  </div>