This is a card! 
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/card-1-crunchyroll.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">FEATURE: Ranking of Kings' New Opening is a Two-Minute Masterpiece</h5>
          <p class="card-text">Ranking of Kings is a marvelous production however you slice it, and its new opening song has raised the bar. Directed by the one-of-a-kind Shingo Yamashita, Ranking of Kings' new opening demonstrates the cutting edge of animation technology, while also bearing secrets regarding the season to come. Let's break down the finer points of this marvelous sequence!</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>