This is the Manga layout

<div class = "container">
    <cr-layoutnavbar>Loading...</cr-layoutnavbar>
    <div class = "row">
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
        <div class = "col-md-2">
            <cr-verticalcard>Loading...</cr-verticalcard>
        </div>
    </div>
</div>