
<div class = "container">
    <cr-newsnavbar>Loading...</cr-newsnavbar>
    <div class = "row">
        <div class = "col-md-8">
            <div *ngFor="let News of News">
              <cr-newshorizontalcard title={{News.title}} subtitle={{News.subtitle}} author={{News.author}} description={{News.description}} time={{News.time}} image={{News.image}}></cr-newshorizontalcard>
            </div>
        </div>
        <div class = "col-md-4">
            <cr-newssearchbar>Loading...</cr-newssearchbar>
        </div>
    </div>
</div>
