<cr-topnavbar>Loading...</cr-topnavbar>


<cr-carousel>Loading...</cr-carousel>
<div><h3>Latest News</h3></div>
    <cr-horizontalcard1 image="assets/crunchyroll-default-logo.png" title="This February, We're Highlighting Black Voices in the Anime Industry (Part 3)" author="Guest Author" 
    description = "We're spending every week of Black History Month highlighting the amazing Black creators, influencers, voice actors, artists, and industry professionals who help make the anime community the incredibly special place it is. We had the pleasure of sitting down with three people who work in the anime industry and/or community, and asked them about their experiences and what anime means to them. Hit the jump to read our third entry in the series!">Loading...</cr-horizontalcard1>
    <cr-horizontalcard1 image="assets/card-1-crunchyroll.jpg" title="Crunchyroll Reveals Dub Casts for Love of Kill and More Winter 2022 Anime" author="Joseph Luster"
    description="Crunchyroll previously announced big plans for its Winter 2022 dubs, including dubs in multiple languages for shows ranging from ORIENT to Love of Kill and beyond. Read on for the cast lists!">Loading...</cr-horizontalcard1>
    <cr-horizontalcard1 image="assets/card-2-crunchyroll.jpg" title="FEATURE: 15 Years Ago, Naruto Shippuden Showed Us The Pain Of Growing Up" author="Daniel Dockery"
    description="On this day in 2007, Naruto Shippuden debuted, providing fans a new look at the residents of the Hidden Leaf Village and continuing Naruto's quest to become Hokage. Along the way, it would dive into various themes regarding growing up, loss, and how we handle the past. Hit the jump to remember some of the series' best aspects!">Loading...</cr-horizontalcard1>
    <cr-horizontalcard1 image="assets/card-4-crunchyroll.jpg" title="Orchestral Performance Of Ashes On The Fire From Attack On Titan: Final Season Part 2 Now Online" author="Humberto Saabedra"
    description="Pony Canyon has uploaded a new performance video to its Japanese YouTube channel taken as an excerpt from the recently held Attack on Titan Orchestra Concert. Read on for the video.">Loading...</cr-horizontalcard1>
    <cr-horizontalcard1 image="assets/card-3-crunchyroll.jpg" title="VIZ Media Details Summer And Fall Physical and Digital Title Releases" author="Humberto Saabedra"
    description="Viz Media took to Twitter on Monday to detail its forthcoming slate of physical releases for Fall 2022, and its slate of digital releases for Summer 2022. Read on for the complete slate.">Loading...</cr-horizontalcard1>
    <cr-horizontalcard1 image="assets/card-5-crunchyroll.jpg" title="13 Sentinels: Aegis Rim Switch Pre-Orders Go Live with New Trailer" author="Joseph Luster"
    description="Vanillaware's strategy adventure game 13 Sentinels: Aegis Rim is coming to Nintendo Switch on April 12, and pre-orders are now live with some special bonuses. Read on for more.">Loading...</cr-horizontalcard1>


  <cr-footer>Loading...</cr-footer>
  <cr-social-footer>Loading...</cr-social-footer>