<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/crunchyroll-logo.png" alt="" width="128" height="108">
    </a>
    <button type="button" class="btn btn-light">Shows</button>
    <button type="button" class="btn btn-light">Manga</button>
    <button type="button" class="btn btn-light">News</button>
    <button type="button" class="btn btn-light">Games</button>
    <button type="button" class="btn btn-light">Store</button>
    <button type="button" class="btn btn-light">Try Free Premium</button>
    <button type="button" class="btn btn-light">Try Beta</button>
    <button type="button" class="btn btn-light">Login</button>
    <button type="button" class="btn btn-light">Queue</button>
    <button type="button" class="btn btn-light">Random</button>

    <form>
      <div class="input-group"> 
        <input type="text" class="form-control" placeholder="Anime, drama, etc.">
        <span class="input-group-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        </span>
      </div>
    </form>
    
    
  </div>
</nav>