<p>add-featured-shows works!</p>
<div class="container">
    <div class="row">
        <div class="col-8">
            <form #postForm="ngForm" (ngSubmit)="addShow(postForm.value)">
                <div class="input-group-text" >
                    <span class="input-group-text">
                        Image Path:
                     </span>
                     <input type="text" class="form-control" ngModel name="image">
                 </div>

                 <div class="input-group-text">
                    <span class="input-group-text">
                     Title:
                    </span>
                    <input type="text" class="form-control" ngModel name="title">
                 </div>

                  <div class="input-group-text">
                    <span class="input-group-text">
                            Episodes:
                      </span>
                     <input type="text" class="form-control" ngModel name="videos">
                 </div>

                     <div>
                       <button type="submit" class="btn btn-primary">Add Show</button>
                     </div> 
            </form>
        </div>
    </div>
</div>